// Docs styles
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

kbd {
  padding: 5px 10px;
}

.version {
  &::after {
    content: '0.2.0'
  }
}

// Code styles
.code {
  color: #667189;
}
.code .com {
  color: #acb3c2;
}
.code .tag {
  color: #5755d9;
}
.code .atn {
  color: #667189;
}
.code .atv {
  color: #e06870;
}
.code[data-lang="Bash"] .tag {
  margin-right: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.code {
  code {
    background: #fff;
    border-radius: 3px;
    border: 0.05rem solid #e7e9ed;
  }
}

// Section hero
.section-hero {
  padding: 1rem .5rem;
  .grid-hero {
    padding-top: 3rem;
    padding-bottom: 3rem;
    h1 {
      color: #50596c;
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }
    h2 {
      color: #5b657a;
      font-size: .9rem;
      font-weight: 400;
      line-height: 1.5rem;
      u {
        border-bottom: .1rem solid currentColor;
        padding-bottom: .05rem;
        text-decoration: none;
      }
    }
  }
}

// Section features
.section-features {
  padding: 4.5rem .5rem;
  .tiny-pagination {
    &.tiny-white {
      justify-content: center;
      .page-item {
        a {
          color: #f8f9fa;
        }
      }
    }
  }
}

// Section usage
.section-usage {
  padding: 4.5rem .5rem 3.5rem .5rem;
  .pagination {
    padding: 10px 30px;
    border-radius: 5px;
  }
  .tiny-pagination {
    &.custom-tiny-class {
      justify-content: space-between;
      .page-item {
        &.disabled {
          a {
            color: darken(#fff, 5%);
          }
        }
        a {
          color: #fff;
        }
      }
    }
  }
  .custom-panel {
    background: #fff;
    padding: 0;
  }
}

// Section footer
.section-footer {
  color: #acb3c2;
  padding: 1.8rem .75rem 1rem .75rem;
  position: relative;
  z-index: 200;
  a {
    color: #667189;
  }
}